amqp==5.1.1
asgiref==3.5.2
attrs==22.1.0
Automat==20.2.0
backports.zoneinfo==0.2.1
billiard==3.6.4.0
black==22.6.0
bleach==5.0.1
Brotli==1.0.9
cachetools==5.2.0
celery==5.2.7
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudinary==1.29.0
confusable-homoglyphs==3.2.0
constantly==15.1.0
cryptography==37.0.4
cssselect==1.1.0
dj-database-url==1.0.0
Django==4.0.6
django-celery-beat==2.3.0
django-cors-headers==3.13.0
django-filter==2.4.0
django-gmailapi-backend==0.3.2
django-registration==3.3
django-timezone-field==5.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
filelock==3.8.0
google-api-core==2.8.2
google-api-python-client==2.56.0
google-auth==2.10.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
gunicorn==20.1.0
httplib2==0.20.4
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
install==1.3.5
itemadapter==0.7.0
itemloaders==1.0.4
jmespath==1.0.1
kombu==5.2.4
lxml==4.9.1
mypy-extensions==0.4.3
parsel==1.6.0
pathspec==0.9.0
platformdirs==2.5.2
prompt-toolkit==3.0.30
Protego==0.2.1
protobuf==4.21.5
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.5
PyJWT==2.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-crontab==2.6.0
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.20.0
pytz==2022.1
queuelib==1.6.2
requests==2.28.1
requests-file==1.5.1
rsa==4.9
Scrapy==2.6.2
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
tldextract==3.3.1
tomli==2.0.1
Twisted==22.4.0
typing-extensions==4.3.0
tzdata==2022.2
uritemplate==4.1.1
urllib3==1.26.11
vine==5.0.0
w3lib==2.0.1
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==6.2.0
zope.interface==5.4.0
