*,
::after,
::before {
  box-sizing: border-box;
}

/* Google Inter Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* 
Variables
*/

:root {
  --clr-black: #000000;

  --clr-text-black: #131211;
  --clr-text-headline: #140a00;

  --clr-grey3: #bcbbba;
  --clr-grey5: #717070;
  --clr-grey6: #4b4b4a;

  --clr-background: #fff7f0;

  --clr-secondaryOrange: #fadfc7;
  --clr-primaryOrange5: #f88007;
  --clr-primaryOrange4: #c66606;

  /* fonts */
  --bodyFont: 'Inter', sans-serif;
  --headlineLarge: 52px;
  --headlineMedium: 48px;
  --headlineSmall: 32px;
  --titleLarge: 28px;
  --titleMedium: 24px;
  --titleSmall: 20px;
  --bodyLarge: 18px;
  --bodyMedium: 16px;
  --bodySmall: 14px;

  /* Others */
  --common-border: 1px solid var(--clr-primaryOrange4);
  --borderRadius: 8px;
  --transition: 0.3s ease-in-out all;
  --fluid-width: 90vw;
  --max-width: 1120px;
  --letterSpacing: 1px;
  --lineHeight: 24px;
}

body {
  background: var(--clr-background);
  font-family: var(--bodyFont);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: var(--headlineLarge);
}

h3 {
  font-size: var(--titleLarge);
}
p {
  font-weight: 500;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: var(--titleMedium);
  font-weight: 500;
}

.svlogo {
  width: 230px;
}

.nav_border {
  border: 1px solid var(--clr-primaryOrange4);
  padding: 24px 64px;
  margin-top: 8px;
}

.btn {
  background: var(--clr-primaryOrange5);
  border-radius: var(--borderRadius);
  border-style: none;
  cursor: pointer;
  color: var(--clr-background);
  text-align: center;
  font-size: var(--titleSmall);
  display: inline-block;
  transition: var(--transition);
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 48px;
  gap: 40px;
}

.category_tile {
  background: var(--clr-primaryOrange5);
  border-radius: var(--borderRadius);
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 12px 4px;
  font-size: var(--titleSmall);
  color: var(--clr-background);
}

.full_page {
  min-height: 100vh;
}

.text_container {
  padding: 10px 64px 150px 64px;
  text-align: justify;
  color: var(--clr-grey6);
}

.text_container h1 {
  font-size: var(--headlineLarge);
  font-weight: 700;
}

.text_container p {
  font-size: var(--titleLarge);
}

.text_container h3 {
  font-size: var(--headlineSmall);
}

.text_container ul {
  margin-left: 40px;
}

.text_container ul li {
  line-height: var(--lineHeight);
  list-style-type: disc;
  line-height: 35px;
}

.text_container ol li {
  font-size: var(--headlineSmall);
  font-weight: 700;
}

.text_container ol ul li {
  font-size: var(--bodyLarge);
  font-weight: 500;
}

.text_container ol p,
.text_container ol ul p {
  font-size: var(--bodyLarge);
  font-weight: 500;
  line-height: var(--lineHeight);
}

.nested_ol {
  list-style-type: disc;
}

.text_container ol ol li {
  font-size: var(--bodyLarge);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-pro {
  display: flex;
}

.left {
  font-size: 1rem;
  padding: 1rem;
}

.head {
  margin-left: 2rem;
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.text-white {
  color: 0 0% 100%;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.profile-img {
  width: 50px;
  height: 50px;
  background: var(--clr-orange);
  border-radius: 50%;
}
.section {
  margin-left: 4.125rem;
  margin-right: 7.875rem;
  margin-top: 1rem;
}
.section h3 {
  font-size: 28px;
}

.section h4 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 28px;
}
.pic {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.prof {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.btn1 {
  margin-right: 36px;
  width: 233px;
  height: 60px;
  cursor: pointer;
  color: var(--clr-primaryOrange5);
  background: var(--clr-secondaryOrange);
  border: 1px solid #d1d5db;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.btn2 {
  width: 233px;
  height: 60px;
  cursor: pointer;
  color: #fff7f0;
  background: var(--clr-primaryOrange5);
  border: 1px solid var(--clr-secondaryOrange);
  border-radius: 0.3rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  text-decoration-color: #fff;
}

.btn3 {
  padding: 18px 48px;
  cursor: pointer;
  color: #fff7f0;
  background: var(--clr-primaryOrange5);
  border-radius: 0.3rem;
  border: 1px solid var(--clr-secondaryOrange);
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.photo-img {
  width: 176px;
  height: 176px;
  border: 1px solid #000000;
  border-radius: 100px;
  background: #717070;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 45%;
}
.social_icon {
  display: flex;
  align-items: center;
}

/* 
Error Page Styles
*/
.error-container {
  display: var(--displayFlex);
  background-color: var(--clr-grey2);
  height: 100vh;
  /* margin: 6px 63px 36px 65px; */
}

.error_text_container {
  flex: 50%;
  display: var(--displayFlex);
  justify-content: var(--justifyContentCenter);
  flex-direction: var(--flexDirectionColumn);
  padding: 0 77px;
}
